@mixin setScrollColor($color) {
  /* FIREFOX SCROLL SUPORT */
  scrollbar-color: $color #fbfbfb;
  scrollbar-width: 12px;

  /* SCROLL SUPORT EDGE,CHROME E OPERA */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #fbfbfb;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 20px;
  }
}
